@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One:ital@1&family=BIZ+UDMincho&display=swap');
/*colors*/
:root{
    --first:#26643b;
    --second:#a2de96;
    --third: #d6e5d8;
    --four: #f5fcf4;
    --black1: #3b413a;
    --black2: #3f3c3c;
    --black3: #5b6359;
    --white1: #e8e8e8;
    --blacks:#0d081a;
    --grey:#48464b;
    --bg:#efebfa;
    --gren:#99ff99;
}

/*all*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
   font-family: 'BIZ UDMincho', sans;
    font-size: 25px;
    scroll-behavior: smooth;
}


body{
    background-color: var(--third);
}

img{
    width: 100%;
    height: 100%;
}
a{
    color: black;
    text-decoration: none;
    font-family: 'BIZ UDMincho';
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*p{
    font-size: 1.6rem;
    color: var(--blacks);
}*/
.container{
    width: 90%;
    margin: 0 auto;
    max-width: 1000px;
    height: 100%;
}
.primary-btn{
    display: inline-block;
    background-color: var(--first);
    color: white;
    font-size: 0.8rem;
    padding: 0.6em 1.6em;
    border-radius: 50px;
}
.button .outline{
    background-color: transparent;
    color: var(--first);
    border-radius: 50px;
    border:2px solid var(--first);
}
#success .button .outline{
    background-color: transparent;
    color: var(--first);
    border-radius: 50px;
    border:2px solid var(--first); 
}
.button{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}
.button svg{
    width: 50px;
    color: var(--first);
}
#provide .heading{
    font-size: 5rem;
    text-transform: uppercase;
    font-family: 'BIZ UDMincho';
    letter-spacing: 0.1rem;
    text-align: center;
    position: relative;
    margin-bottom: 5rem;
    color: var(--first);
  text-shadow: 
    2px 2px 3px       var(--second), 
    5.75px 5.75px  var(--gren), 
    5.5px 5.5px    var(--second), 
    5.25px 5.25px  var(--gren),
    5px 5px        var(--second), 
    4.75px 4.75px  var(--gren), 
    4.5px 4.5px    var(--second), 
    4.25px 4.25px  var(--gren),
    4px 4px        var(--second),
    3.75px 3.75px  var(--gren),
    3.5px 3.5px    var(--second),
    3.25px 3.25px  var(--gren),
    3px 3px        var(--second),
    2.75px 2.75px  var(--gren),
    2.5px 2.5px    var(--second),
    2.25px 2.25px  var(--gren),
    2px 2px        var(--second),
    1.75px 1.75px  var(--gren),
    1.5px 1.5px    var(--second),
    1.25px 1.25px  var(--gren),
    1px 1px        var(--second),
    0.75px 0.75px  var(--gren),
    0.5px 0.5px    var(--second),
    0.25px 0.25px  var(--gren);
    animation: fade-in-up 3s forwards;
}
@keyframes fade-in-up{
    from{
    opacity: 0;
    transform: translate3d(0, 100%, 0);
    }
    to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
    }
    }
#about .heading{
    font-size: 5rem;
    text-transform: uppercase;
    font-family: 'BIZ UDMincho';
    letter-spacing: 0.1rem;
    text-align: center;
    position: relative;
    margin-bottom: 5rem;
    color: var(--first);
  text-shadow: 
    2px 2px 3px       var(--second), 
    5.75px 5.75px  var(--gren), 
    5.5px 5.5px    var(--second), 
    5.25px 5.25px  var(--gren),
    5px 5px        var(--second), 
    4.75px 4.75px  var(--gren), 
    4.5px 4.5px    var(--second), 
    4.25px 4.25px  var(--gren),
    4px 4px        var(--second),
    3.75px 3.75px  var(--gren),
    3.5px 3.5px    var(--second),
    3.25px 3.25px  var(--gren),
    3px 3px        var(--second),
    2.75px 2.75px  var(--gren),
    2.5px 2.5px    var(--second),
    2.25px 2.25px  var(--gren),
    2px 2px        var(--second),
    1.75px 1.75px  var(--gren),
    1.5px 1.5px    var(--second),
    1.25px 1.25px  var(--gren),
    1px 1px        var(--second),
    0.75px 0.75px  var(--gren),
    0.5px 0.5px    var(--second),
    0.25px 0.25px  var(--gren);

}
#skills .heading{
    font-size: 5rem;
    text-transform: uppercase;
    font-family: 'BIZ UDMincho';
    letter-spacing: 0.1rem;
    text-align: center;
    position: relative;
    margin-bottom: 5rem;
    margin-top: 8rem;
    color: var(--first);
  text-shadow: 
    2px 2px 3px       var(--second), 
    5.75px 5.75px  var(--gren), 
    5.5px 5.5px    var(--second), 
    5.25px 5.25px  var(--gren),
    5px 5px        var(--second), 
    4.75px 4.75px  var(--gren), 
    4.5px 4.5px    var(--second), 
    4.25px 4.25px  var(--gren),
    4px 4px        var(--second),
    3.75px 3.75px  var(--gren),
    3.5px 3.5px    var(--second),
    3.25px 3.25px  var(--gren),
    3px 3px        var(--second),
    2.75px 2.75px  var(--gren),
    2.5px 2.5px    var(--second),
    2.25px 2.25px  var(--gren),
    2px 2px        var(--second),
    1.75px 1.75px  var(--gren),
    1.5px 1.5px    var(--second),
    1.25px 1.25px  var(--gren),
    1px 1px        var(--second),
    0.75px 0.75px  var(--gren),
    0.5px 0.5px    var(--second),
    0.25px 0.25px  var(--gren);

}  
#important .heading{
    font-size: 5rem;
    text-transform: uppercase;
    font-family: 'BIZ UDMincho';
    letter-spacing: 0.1rem;
    text-align: center;
    position: relative;
    margin-bottom: 5rem;
    margin-top: 8rem;
    color: var(--first);
  text-shadow: 
    2px 2px 3px       var(--second), 
    5.75px 5.75px  var(--gren), 
    5.5px 5.5px    var(--second), 
    5.25px 5.25px  var(--gren),
    5px 5px        var(--second), 
    4.75px 4.75px  var(--gren), 
    4.5px 4.5px    var(--second), 
    4.25px 4.25px  var(--gren),
    4px 4px        var(--second),
    3.75px 3.75px  var(--gren),
    3.5px 3.5px    var(--second),
    3.25px 3.25px  var(--gren),
    3px 3px        var(--second),
    2.75px 2.75px  var(--gren),
    2.5px 2.5px    var(--second),
    2.25px 2.25px  var(--gren),
    2px 2px        var(--second),
    1.75px 1.75px  var(--gren),
    1.5px 1.5px    var(--second),
    1.25px 1.25px  var(--gren),
    1px 1px        var(--second),
    0.75px 0.75px  var(--gren),
    0.5px 0.5px    var(--second),
    0.25px 0.25px  var(--gren);

}
#success .heading{
    font-size: 5rem;
    text-transform: uppercase;
    font-family: 'BIZ UDMincho';
    letter-spacing: 0.1rem;
    text-align: center;
    position: relative;
    margin-bottom: 5rem;
    margin-top: 8rem;
    color: var(--first);
  text-shadow: 
    2px 2px 3px       var(--second), 
    5.75px 5.75px  var(--gren), 
    5.5px 5.5px    var(--second), 
    5.25px 5.25px  var(--gren),
    5px 5px        var(--second), 
    4.75px 4.75px  var(--gren), 
    4.5px 4.5px    var(--second), 
    4.25px 4.25px  var(--gren),
    4px 4px        var(--second),
    3.75px 3.75px  var(--gren),
    3.5px 3.5px    var(--second),
    3.25px 3.25px  var(--gren),
    3px 3px        var(--second),
    2.75px 2.75px  var(--gren),
    2.5px 2.5px    var(--second),
    2.25px 2.25px  var(--gren),
    2px 2px        var(--second),
    1.75px 1.75px  var(--gren),
    1.5px 1.5px    var(--second),
    1.25px 1.25px  var(--gren),
    1px 1px        var(--second),
    0.75px 0.75px  var(--gren),
    0.5px 0.5px    var(--second),
    0.25px 0.25px  var(--gren);

}
#cuprins .heading{
    font-size: 5rem;
    text-transform: uppercase;
    font-family: 'BIZ UDMincho';
    letter-spacing: 0.1rem;
    text-align: center;
    position: relative;
    margin-bottom: 5rem;
    margin-top: 8rem;
    color: var(--first);
  text-shadow: 
    2px 2px 3px       var(--second), 
    5.75px 5.75px  var(--gren), 
    5.5px 5.5px    var(--second), 
    5.25px 5.25px  var(--gren),
    5px 5px        var(--second), 
    4.75px 4.75px  var(--gren), 
    4.5px 4.5px    var(--second), 
    4.25px 4.25px  var(--gren),
    4px 4px        var(--second),
    3.75px 3.75px  var(--gren),
    3.5px 3.5px    var(--second),
    3.25px 3.25px  var(--gren),
    3px 3px        var(--second),
    2.75px 2.75px  var(--gren),
    2.5px 2.5px    var(--second),
    2.25px 2.25px  var(--gren),
    2px 2px        var(--second),
    1.75px 1.75px  var(--gren),
    1.5px 1.5px    var(--second),
    1.25px 1.25px  var(--gren),
    1px 1px        var(--second),
    0.75px 0.75px  var(--gren),
    0.5px 0.5px    var(--second),
    0.25px 0.25px  var(--gren);
}

#contact .heading{
    font-size: 5rem;
    text-transform: uppercase;
    font-family: 'BIZ UDMincho';
    letter-spacing: 0.1rem;
    text-align: center;
    position: relative;
    margin-bottom: 5rem;
    color: var(--first);
  text-shadow: 
    2px 2px 3px       var(--second), 
    5.75px 5.75px  var(--gren), 
    5.5px 5.5px    var(--second), 
    5.25px 5.25px  var(--gren),
    5px 5px        var(--second), 
    4.75px 4.75px  var(--gren), 
    4.5px 4.5px    var(--second), 
    4.25px 4.25px  var(--gren),
    4px 4px        var(--second),
    3.75px 3.75px  var(--gren),
    3.5px 3.5px    var(--second),
    3.25px 3.25px  var(--gren),
    3px 3px        var(--second),
    2.75px 2.75px  var(--gren),
    2.5px 2.5px    var(--second),
    2.25px 2.25px  var(--gren),
    2px 2px        var(--second),
    1.75px 1.75px  var(--gren),
    1.5px 1.5px    var(--second),
    1.25px 1.25px  var(--gren),
    1px 1px        var(--second),
    0.75px 0.75px  var(--gren),
    0.5px 0.5px    var(--second),
    0.25px 0.25px  var(--gren);
    animation: fade-in-up 3s forwards;
}



/*#provide .heading::before{
    content: 'What can I provide to your company?';
    position: absolute;
    left: 3%;
    top: -10%;
    width: 90%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'BBIZ UDMincho';
    letter-spacing: 0.2rem;
    color: transparent;
    -webkit-text-stroke: 0.5px #26643b;
    z-index: -1;
    font-size: clamp(1rem, 9vw, 7rem);
}*/
/*menu*/
#menu {
    position: fixed;
    right: 50px;
    top: 50px;
    height: auto;
    z-index: 100;
}


#menu .icon{
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: var(--first);
    display: flex;
    align-items: center;
    justify-content: center;
}

#menu .icon svg{
    color: white;
    width: 80%;
}

#cuprins {
    position: fixed;
    right: 0;
    width: 80%;
    height: 100%;
    max-width: 800px;
    z-index: 100;
    background-color: var(--first);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform: translateX(105%);
    transition: 0.3s ease transform;
}
#cuprins.show{
    transform: translateX(0);
    box-shadow: -6px 0px 29px 7px #000000a3;
}
#cuprins .heading{
    text-align: left;
    margin-bottom: 0.8rem;
    margin-top: 1rem;
}

#cuprins .heading::before{
    -webkit-text-stroke: 1.5px #afadad25;
    text-align: left;
}
#cuprins .wrapper{
    width: 70%;
    position: relative;
}

#cuprins ul{
    list-style: none;
    text-align: left;
}

#cuprins ul li{
    margin-bottom: 1rem;
}

#cuprins ul li a{
    display: inline-block;
    color: white;
    font-size: 2rem;
    font-family: 'BIZ UDMincho';
    font-weight: bold;
}

#cuprins ul li a::after{
    content: attr(data-text);
    pointer-events: none;
    position: absolute;
    right: -150px;
    bottom: 50%;
    width: 100%;
    color: transparent;
    -webkit-text-stroke: 1.5px #afadad25;
    z-index: -1;
    text-align: center;
    transform: rotate(90deg) scale(3);
    opacity: 0;
    transition: 0.3s ease;
    transition-property: opacity, transform;
}

#cuprins ul li a:hover::after{
    opacity: 1;
    transform: scale(3) translateY(10px) rotate(90deg);
}
#cuprins .c-button{
    position: absolute;
    left: 10px;
    top: 10px;
    color: white;
    width: 40px;
    height: 40px;
    background-color: var(--first);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s ease background-color;
}
#cuprins .c-button svg{
    width: 80%;
}
#cuprins .c-button:hover{
    background-color: crimson;
}
/*hero*/
#hero{
    height: 100vh;
    width: 100%;
    padding-top: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}



#hero .container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    max-width: 1000px;
}

#hero .container .left{
    flex: 6;
}
#hero .container .right{
    flex: 8;
}
#hero .left .sub{
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--first);
    animation: fade 0.3s ease-in forwards;
	animation-delay: 1.1s;
	opacity: 0;

}
/*@keyframes fade-in-up{
    from{
    opacity: 0;
    transform: translate3d(0, 100%, 0);
    }
    to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
    }
    };*/

#hero .left .head{
    font-size: 2rem;
    font-family: 'Alumni Sans Inline One', sans-serif;
    font-weight: 400;
    margin-top: 1rem;
}

#hero .left .head .wrapper{
    display: inline-block;
    overflow: hidden;
}
#hero .left .head .wrapper  span
{
position: relative;
bottom: -70px;
animation: reveal 1s ease-in-out forwards;

}

@keyframes reveal{
   0%{
        bottom: -70px;
    }
   100% {
       bottom: 0;
   }
}
@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}



#hero .left .description
{
    margin-top: 2.5rem;
    max-width: 400px;
    font-size: 1.6rem;
    color: var(--blacks);
    margin-right: 1rem;
    animation: fade 0.3s ease-in forwards;
	animation-delay: 1.1s;
    opacity: 0;
}
#hero .left .buttons{
    animation: fade 0.3s ease-in forwards;
	animation-delay: 1.1s;
    opacity: 0;
}

#hero .left .button
{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

#hero .left .button svg
{
    width: 50px;
    color: var(--first);
}

#hero .left .button .primary-btn
{
    display: inline-block;
    background-color: var(--first);
    color: white;
    font-size: 0.8rem;
    padding: 0.6em 1.6em;
    border-radius: 50px;
}

#hero .right
{
    text-align: right;
}

/*#hero .right img{
    width: 100%;
    max-width: 450px;
    height: 600px;
    object-fit: cover;
    object-position: 50% 30%;
    border-radius: 12px;
}*/
/*provide*/
#provide{
    padding: 15rem 0;
}
#provide .items{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 6rem;
   /* animation: swivel-horizontal 2s forwards;*/

}
/*@keyframes swivel-horizontal {
    from {
    transform: rotateY(0);
    }
    to {
    transform: rotateY(360deg);
    }
    };*/

#provide .item{
    padding: 1.5rem;
    border-radius: 12px;
}

#provide .item1{
    padding: 1.5rem;
    border-radius: 12px;
}

#provide .item:nth-child(1):hover{
    background-color: rgb(179, 255, 217);
}
#provide .item:nth-child(2):hover{
    background-color: rgb(26, 255, 140);
}
#provide .item:nth-child(3):hover{
    background-color: rgb(0, 204, 102);
}
#provide .item:nth-child(4):hover{
    background-color:rgb(0, 128, 64);
}

#provide .item .icon{
    width: 100px;
    height: 100px;
    padding: 0.8rem;
    background-color: rgb(230, 255, 230);
    border-radius: 50%;
    margin-bottom: 1rem;
}

#provide .i-head{
    font-weight: 500;
    font-size: 1rem;
    font-family: 'Alumni Sans Inline One', sans-serif;
    margin-bottom: 1.5rem;

}

#provide .i-desc{
    color: var(--grey);
}

/*#provide .item:nth-child(1) .icon{
    background-color:rgb(179, 255, 217) ;

}
#provide .item:nth-child(2) .icon{
    background-color:rgb(26, 255, 140) ;

}
#provide .item:nth-child(3) .icon{
    background-color:rgb(0, 204, 102) ;

}
#provide .item:nth-child(4) .icon{
    background-color:rgb(0, 128, 64) ;

}
#provide .heading{
    font-size: clamp(2rem, 10vw, 8rem);
    text-transform: uppercase;
    font-family: 'BIZ UDMincho';
    letter-spacing: 0.2rem;
    text-align: center;
    position: relative;
    margin-bottom: 10rem;
}

/*#provide .heading::before{
    content: 'What can I provide to your company?';
    position: absolute;
    left: 3%;
    top: -10%;
    width: 90%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'BBIZ UDMincho';
    letter-spacing: 0.2rem;
    color: transparent;
    -webkit-text-stroke: 0.5px #26643b;
    z-index: -1;
    font-size: clamp(1rem, 9vw, 7rem);
}*/
/*about*/
#about{
    padding: 3rem 0;
    overflow-x: hidden;
}
#about .items{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

#about .item{
    text-align: center;
    position: relative;
    padding: 20px;
}
#about .item:nth-child(1),
#about .item:nth-child(3){
    flex: 3;
    transform: scale(0.8);

}

#about .item:nth-child(2){
    flex: 4;
}

#about .item::after{
    content: '';
    position: absolute;
    /*height: 120%;*/
    /*width: 110%;*/
    left: 0;
    top: 45px;
    z-index: -1;
    box-shadow: 0px 0px 20px 0px #79d279;
}

#about .item:nth-child(2)::after{
    transform: skew(350deg,355deg);
    border-radius: 26px 67px 35px 67px;
    height: 100%;
    width: 110%;
}
#about .item:nth-child(1)::after,
#about .item:nth-child(3)::after
{
    transform: skew(-5deg, 9deg);
    height: 95%;
    border-radius: 52px 30px 59px 60px;
    width: 130%;
}
#about .img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 2rem;
    align-items: center;
}

#about .img img{
    object-fit: cover;
}

#about .a-head{
    font-size: 2.4rem;
    text-transform: uppercase;
    font-family: 'Alumni Sans Inline One', cursive;
    font-weight: 30;
    margin-bottom: 0.5rem;
}

#about .a-text{
    font-size: 1.6rem;
    margin-bottom: 1rem;
    color: var(--blacks);
}

#about .a-icon{
    max-width: 50px;
    margin: 1.5rem auto;
    color: var(--first);
    opacity: 0.5;
}

#about .a-desc{
    color: var(--blacks);
}

/*skills*/
#skills .skills{
    font-size: 1rem;
    color: var(--blacks);   
}
#skills{
    padding: 28rem 0 10 rem 0;
}
#skills .s-items{
    display: flex;
    align-items: center;
    justify-content: center;
}
#skills .s-items .s-item{
    padding: 2rem;
}
#skills .qualities{
    font-family: 'BIZ UDMincho';
    font-size: 3rem;
}
#skills .motiv{
    font-size: 1rem;
    margin-bottom: 2rem;
    margin-top: 0.4rem;
}

#skills .s-items .s-item:nth-child(1){
    background-color: rgb(179, 255, 217);
}
#skills .s-items .s-item:nth-child(2){
    background-color: rgb(26, 255, 140);
}
#skills .s-items .s-item:nth-child(3){
    background-color:rgb(0, 204, 102) ;
}
/*importance*/
#important{
    padding: 1rem 0;
}
#important .wrapper {
    display: flex;
   width: 100%;
    align-items: center;
    justify-content: center;
    
    gap: 3rem;
}

#important .i-left{
    padding: 1rem;
    text-align: center;

}

#important .i-left .bok{
    box-shadow: 0px 0px 10px #79d279;
    padding: 3rem;
    border-radius: 12px;
    min-height: 300px;
}

#important .i-left .i-img{
    width: 70px;
height: 70px;
margin: 0 auto;
overflow: hidden;
border-radius: 50%;
margin-bottom: 2rem;
}

#important .i-left .i-img img{
    object-fit: cover;
}

#important .i-left .bok .b-desc{
    font-size: 1rem;
    color: var(--grey);
    margin-bottom: 2rem;
}
#important .i-left .bok .b-name{
    font-size: 1.5rem;
    margin-bottom: 0.2rem;

}

#important .i-left .bok .b-sub{
font-size: 0.8rem;
}

#important .i-right .i-sub{
    color: var(--first);
    margin-bottom: 1rem;
    margin-top: 5rem;
    font-size: 2.6rem;
}

#important .i-right .i-ask{
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

#important .i-right .right-info{
    color: var(--grey);
    
    font-size: 1rem;
}

/*#important .button .outline{
    background-color: transparent;
    color: var(--first);
    border-radius: 50px;
    border:2px solid var(--first);
}*/

#success{
    padding: 5rem 0;
}
#success .item{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 10rem;
}

#success .item2{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 10rem;
}
#success .item .left{
    flex: 1;

}
#success .item2 .left{
    flex: 1;

}

#success .item .right{
    flex: 1;
    margin-left: -150px;
    background-color: #e2ece3;
    padding: 5rem 2rem;
    border-radius: 12px;
    box-shadow: 0 0 20px #00000028;
    z-index: 2;
}
#success .item2 .right{
    flex: 1;
    margin-left: -150px;
    background-color: #e2ece3;
    padding: 5rem 2rem;
    border-radius: 12px;
    box-shadow: 0 0 20px #00000028;
    z-index: 2;
}

#success .item2 .right{
    margin-left: 0;
}

#success .item2 .left{
    margin-left: -150px;
}

#success .item .left .img{
    height: 500px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0px 0px 20px #79d279 ;
    position: relative;
}
#success .item2 .left .img{
    height: 500px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0px 0px 20px #79d279 ;
    position: relative;
}
#success .item .left .img img{
    object-fit: cover;
    transition: 0.3s ease transform;
}
#success .item2 .left .img img{
    object-fit: cover;
    transition: 0.3s ease transform;
}

#success .item .left .img::after{
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(111, 245, 39, 0.09);
}
#success .item2 .left .img::after{
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(111, 245, 39, 0.09);
}

#success .item:hover .left .img img{
    transform: scale(1.5);
    z-index: 1;
}
#success .item2:hover .left .img img{
    transform: scale(1.5);
    z-index: 1;
}
#success .item .right .title{
    font-size: 2rem;
    font-weight: lighter;
    font-family: 'Alumni Sans Inline One';
    margin-bottom: 1rem;
}
#success .item2 .right .title{
    font-size: 2rem;
    font-weight: lighter;
    font-family: 'Alumni Sans Inline One';
    margin-bottom: 1rem;
}
#success .item .right .sub{
    font-size: 1rem;
    margin-bottom: 2rem;
}
#success .item2 .right .sub{
    font-size: 1rem;
    margin-bottom: 2rem;
}
#success .item .right .project-desc{
    color: var(--grey);
    margin-bottom: 3rem;
}
#success .item2 .right .project-desc{
    color: var(--grey);
    margin-bottom: 3rem;
}

#success .item .right .button .external-link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: calc(0.6em- 4px) calc(1.6- 4px);
}
#success .item2 .right .button .external-link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: calc(0.6em- 4px) calc(1.6- 4px);
}

#success .item .right .button .external-link svg{
    width: 25px;
}
#success .item2 .right .button .external-link svg{
    width: 25px;
}
/*contact*/
#contact {
    padding: 5rem 0;
}
#contact .wrapper{
    display: flex;
    align-items:flex-start;
    justify-content: center;
    gap: 5rem;
}
#contact .wrapper .left,
#contact .wrapper .right{
    flex: 1;
}

#contact .left .info{
    font-family: 'Alumni Sans Inline One';
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: lighter;
}

#contact .left .desc{
    color: var(--grey);
    margin-bottom: 1rem;

}

#contact .left .text{
    margin-bottom: 1rem;
    margin-top: 1rem;
}
#contact .left .text ul{
    list-style: none;
}
#contact .left .text ul li{
    border-radius: 12px;
    align-items: center;
    justify-content: flex;
    font-size: 0.8rem;
    padding: 1rem;
    gap: 1rem;
}
#contact .left .text ul li:hover{
    background-color: var(--first);
}
#contact .left .text ul li:hover a{
    color: white;
}

#contact .left .text ul li a .photo{
    width: 25px;
    height: 25px;
    
    overflow: hidden;
    
    margin-bottom: 1rem;
    }
    #contact .right .w-form .photo{
        width: 25px;
        height: 25px;
        
        overflow: hidden;
        
        margin-bottom: 1rem; 
        margin-top: 1rem;
    }

#contact .left .text ul li a .icon{
    
        width:20px;
        color:var(--black-2);
        
   
}
#contact .left .text ul li a .icon img{
    object-fit: cover;
}
#contact .left .media ul li a .icon svg{
    color: #26643b;
}
#contact .left .media ul{
    list-style: none;
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
   
}


#contact .right .w-form{
    background-color: var(--first);
    max-width: 500px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 12px;
    color: whitesmoke;
    margin-top: 2rem;
}
#contact .right .f-grup{
margin-bottom: 1rem;
}

#contact .right .f-grup label{
    margin-bottom: 0.5rem;
    display: inline-block;
    font-size: 1rem;
}

#contact .right .f-grup .w-in{
    background-color: white;
    color: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    border-radius: 4px;
    overflow: hidden;
}
#contact .right .f-grup .w-in input{
    padding: 1rem;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    font-size: 0.8rem;
}
#contact .right .f-m textarea
{
    width: 100%;
    height: 250px;
    resize: vertical;
    padding: 1rem;
    outline: none;
    border-radius: 4px;
    font-size: 0.8rem;

}

#contact .right .f-m button{
    display: inline-block;
    width: 100px;
    font-size: 0.8rem;
    text-transform: uppercase;
    height: auto;
    padding: 1rem 0;
    font-family: 'BIZ UDMincho';
    letter-spacing: 0.3rem;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    
}

/*footer*/
footer{
    background-color: var(--second);
    padding-top: 5rem;
    padding-bottom: 2rem;
}
.footer__wrapper{
    display:flex;
    flex-direction: column;
    gap:3rem;
}
.footer__logo{
    width:150px;
    margin-bottom: 2rem;
}
.footer__description{
    font-size:1rem;
    color:var(--black-1);
    margin-bottom: 2rem;

}
.footer__follow__title{
    font-size:1rem;
    color:var(--black-1);
    margin-bottom:1rem;

}
.footer__follow li{
    display: inline-block;
    margin-right:3rem;
}

.footer__follow a{
    padding:.5rem .8rem;
    background-color: var(--white-1);
    border: 1px solid var(--Cornflower);
    border-radius: 8px;
}
.footer__follow svg{
    width:20px;
    color:var(--black-2);
}

.footer__title{
    font-size: 1rem;
    margin-bottom:1rem;
    color: var(--black-1);
    font-weight: 600;
    margin-right: 2rem;

}
.footer__desc a{
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: var(--black-3);
    font-family: Sansita Swashed;
    font-weight:500;
    line-height:1.4em;
}

@media only screen and (min-width:768px){
    footer{
        padding-top: 8rem;
        padding-bottom: 4rem;
    
    }
    .footer__wrapper{
        flex-direction: row;  
    }
    .footer__1{
        flex:4;
    }
    .footer__2,
    .footer__3,
    .footer__4{
        flex: 2;
    }
    .footer__description{
        max-width: 300px;
        font-size: 1rem;
        margin-bottom: 2rem;
    }
    .footer__follow__title{
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    .footer__title{
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    .footer__desc a{
        font-size: 1rem;
        margin-bottom: 0.8rem;
    }
}
    #copyright{
        padding: 1rem 0;
    }
    .copyright__text{
        font-size: 1rem;
        text-align: center;
    }
@media only screen and (min-width:768px){
    .copyright__text{
        font-size: 0.8rem;
        text-align: left;
    }
}